<div style="text-align:center; padding: 1%; ">
  <div class="form-header">
    <h1>Generar Reporte</h1>
  </div>


  <div style="display: flex;
  justify-content: center;
  align-items: center;">
    <div>
      <span>
        <input id="disabled-input" [style]="{'width': '100%'}" type="text" pInputText placeholder="Referencia" [(ngModel)]="fabricSupplier.reference"
          readonly />
      </span>
    </div>

  
  </div>
  
  <div style="display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;">
    <div>
      <span>
        <input id="disabled-input" [style]="{'width': '100%'}" type="text" pInputText placeholder="Lote(BatchNum)" [(ngModel)]="batchNum"
          readonly />
      </span>
    </div>

    
  </div>


  


  <div style="display: flex;
  justify-content: center;
  align-items: center;">


    <form (ngSubmit)="onSubmit()" [formGroup]="report">


      <div style="padding-top: 15%;">
        <span class="p-float-label">
          <p-dropdown [style]="{'width': '95%'}" formControlName="typeDefect"   [filter]="true" filterBy="description" [options]="typeDefect"
            optionLabel="description"></p-dropdown>
          <label htmlFor="username">Tipo de defecto</label>
        </span>
      </div>


      <div style="padding-top: 15%;">
        <span class="p-float-label">
          <p-inputNumber formControlName="quantityAffected" mode="decimal" [minFractionDigits]="0"
            [maxFractionDigits]="2"></p-inputNumber>
          <label htmlFor="linea">Metros lineales afectados</label>
        </span>
      </div>

      <div style="padding-top: 15%;">
        <span class="p-float-label">
          <input id="disabled-input" type="text" formControlName="comment" pInputText [disabled]="false" />
          <label htmlFor="persiana">Comentarios</label>
        </span>
      </div>



      <div style="width:50%; display: inline-block; padding-top: 5%;">
        <!-- <p-button label="Enviar" styleClass="p-button-outlined p-button-success" pTooltip="Enviar" icon="pi pi-check"
          class="sumbit" type="submit" [style]="{'width': '90%'}" [disabled]="report.invalid"></p-button> -->
          <p-button label="VER" [style]="{'width': '90%'}" pTooltip="Ver fotos"
          styleClass="p-button-outlined" icon="pi pi-camera"
           (click)="showDialogPictures()"></p-button>
        </div>



      
      
          <div style=" width:50%; display: inline-block; padding-top: 5%; ">
<!-- 
          <p-menu #menu [model]="items" [popup]="true"></p-menu>
          <button [style]="{'width': '90%'}" pButton type="button" styleClass="p-button-outlined p-button-help" (click)="menu.toggle($event)" icon="pi pi-bars"
            label="Fotos" ></button> -->
            
          
          <button [style]="{'width': '90%'}" pButton type="button" styleClass="p-button-outlined p-button-help" (click)="showDialog()" icon="pi pi-bars"
            label="Fotos" ></button>
      </div>

      <div style="padding-top: 5%;">
        <p-button label="Enviar" styleClass="p-button-outlined p-button-success" pTooltip="Enviar" icon="pi pi-check"
          class="sumbit" type="submit" [style]="{'width': '95%'}" [disabled]="report.invalid"></p-button>
        <!-- <p-button label="VER FOTOS" [style]="{'width': '95%'}" pTooltip="Ver fotos"
         styleClass="p-button-outlined p-button-help" icon="pi pi-camera"
          (click)="showDialogPictures()"></p-button> -->
      </div>
      
    </form>
  </div>







  <div class="card flex justify-content-center">
    <p-dialog header="Camara" [(visible)]="visible" [modal]="true" [style]="{ width: '400' , height: 400 }"
      [draggable]="false" [resizable]="false">
      <webcam [height]="340" [width]="340" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"></webcam>
      <br>
      

      <!-- <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button> -->
      <!-- <br/>
      <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
      <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
      <br/>
      DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
      <button (click)="showNextWebcam(deviceId);">Activate</button> -->

      <div style="padding: 5%;">
        <p-button icon="pi pi-camera" pTooltip="Tomar foto" styleClass="p-button-rounded p-button-outlined"
          (click)="triggerSnapshot();"></p-button>
          <p-button icon="pi pi-refresh" pTooltip="Activar" style="margin: 1%;" styleClass="p-button-rounded p-button-warning p-button-outlined"
          (click)="toggleWebcam()"></p-button>
        <br>
      </div>
    
 
  

    </p-dialog>
  </div>
</div>




<div class="card flex justify-content-center">
  <p-dialog header="Tomar Foto" [(visible)]="visibleQr" [modal]="true" [style]="{ width: '300' , height: 300 }"
    [draggable]="false" [resizable]="false">

    <div style="height: 100; width: 100;">
      <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    </div>

  </p-dialog>
</div>


<div class="card flex justify-content-center">
  <p-dialog header="Fotos" [(visible)]="visiblePictures" [modal]="true" [style]="{ width: '300' , height: 300 }"
    [draggable]="false" [resizable]="false">




    <div *ngFor="let student of imagenesUr" style="  display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;">
      <p-image src={{student}} [preview]="true" alt="Image" width="250">
        <ng-template pTemplate="indicator">
          <i class="pi pi-check"></i>
        </ng-template>
      </p-image>
      <div style=" margin-top: 10px; padding: 5%;">
        <p-button (click)="deleteImg(student)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger"
          pTooltip="Eliminar foto"></p-button>
      </div>
    </div>
  </p-dialog>
</div>


<div class="card flex justify-content-center">
  <p-dialog header="Agregar Referencia" [(visible)]="visibleReference" [modal]="true" [style]="{ width: '100vw' , height: '85vh' }"
   [resizable]="false" [maximizable]="true">

    <span class="p-float-label" style="margin: 30px;">
      <input pInputText id="batchNum" [(ngModel)]="batchNum" (ngModelChange)="onInputChangeBatchNum()" />
      <label htmlFor="batchNum">Lote</label>
  </span>

    
  <span class="p-float-label" style="margin: 30px;">
    <p-dropdown [options]="oibts" [(ngModel)]="oibt"  optionLabel="itemName"  [filter]="true" filterBy="itemName" appendTo="body"></p-dropdown>
  <label for="float-label">Nombre</label>
</span>

<input id="disabled-input" style="margin-left: 30px;" type="text" pInputText placeholder="Referencia" [(ngModel)]="oibt.itemCode"
readonly />
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="addReference()" label="Agregar" styleClass="p-button-text"></p-button>
  </ng-template>
  </p-dialog>
</div>




<div class="card">
  <p-toast [breakpoints]="{'920px': {width: '70%', right: '0', left: '0'}}"></p-toast>
</div>

<p-button label="Agregar Referencia"   (click)="showDialogReference()" class="btn-flotante"> </p-button>

<!-- <a routerLink="/scan-qr">Router</a> -->
