<div  style="text-align:center" >
  <h1>
     Generar reporte de defecto
  </h1>

  <div class="card flex justify-content-center">
    <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
    <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '400' , height: 400 }" [draggable]="false" [resizable]="false">
      <webcam [height]="340" [width]="340" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      [imageQuality]="1"
      (cameraSwitched)="cameraWasSwitched($event)"
      (initError)="handleInitError($event)"
     
></webcam>
<br>
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <!-- <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button> -->
    <br>
    <!-- <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button> -->
    </p-dialog>
</div>
</div>


<div style="height: 350px; position: relative;" class="speeddial-mask-demo"  >
  <p-speedDial [model]="items" direction="up" ></p-speedDial>
</div>

<div>
<h2>
  Imagenes array
</h2>
 <div *ngFor="let student of imagenesUr" style="  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;">
<p-image src={{student}} [preview]="true" alt="Image" width="250">
  <ng-template pTemplate="indicator">
      <i class="pi pi-check"></i>
  </ng-template>
</p-image>
<div style=" margin-top: 10px;">
  <p-button  (click)="deleteImg(student)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger"  ></p-button>
</div>
</div> 








